<nav class="navbar navbar-expand-lg navbar-light bg-light-subtle">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Hinzufügen</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 style="text-align: center; color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Angestellte</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center py-5 px-4">
    <div class="card mx-2 my-3" style="width: 18rem;" *ngFor="let angestellter of angestellte">
      <div class="card-body">
        <h5 class="card-title">{{angestellter.vorname}} {{angestellter.nachname}}</h5>
        <p class="card-text">{{angestellter.gehalt}}</p>
        <span class=""></span>
        <button class="btn btn-danger" (click)="deleteAngestellter(angestellter)"><i class="bi-x-circle-fill"></i></button>
      </div>
    </div>
  </div>
</div>
