<nav class="navbar navbar-expand-lg navbar-light bg-light-subtle">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 style="text-align: center; color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Angestellte</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center py-5 px-4">
    <div class="card mx-2 my-3" style="width: 18rem;" *ngFor="let angestellter of angestellte">
      <div class="card-body">
        <h5 class="card-title">{{angestellter.vorname}} {{angestellter.nachname}}</h5>
        <p class="card-text">{{angestellter.gehalt}}</p>
        <span class=""></span>
        <button class="btn btn-danger" (click)="deleteAngestellter(angestellter)"><i class="bi-x-circle-fill"></i></button>
      </div>
    </div>
  </div>
  <div class="container">
    <h1>Hinzufügen</h1>
    <form #add="ngForm" (ngSubmit)="submit(add)">
      <div class="form-group">
        <label for="vorname">Vorname</label><br>
        <input #vorname="ngModel" required type="text" id="vorname" name="vorname" ngModel class="form-control" placeholder="Vorname">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="nachname">Nachname</label><br>
        <input #nachname="ngModel" required type="text" id="nachname" name="nachname" ngModel class="form-control" placeholder="Nachname">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="gehalt">Gehalt</label><br>
        <input #gehalt="ngModel" required type="number" id="gehalt" name="gehalt" ngModel class="form-control" placeholder="Gehalt">
      </div>
      <pre></pre>
      <button class="btn btn-primary float-end" type="submit" [disabled]="vorname.invalid || nachname.invalid || gehalt.invalid">Sichern</button>
    </form>
  </div>
</div>
